POSTGRES_DB=backend_challenge
POSTGRES_USER=backend
POSTGRES_PASSWORD=backend
POSTGRES_PORT=5432

HTTP_PORT=8080

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

AWS_ENDPOINT_URL=http://ministack:4566
SQS_QUEUE_URL=http://ministack:4566/000000000000/wager-transactions.fifo
SQS_EVENTS_QUEUE_URL=http://ministack:4566/000000000000/wager-events.fifo
SQS_DLQ_URL=http://ministack:4566/000000000000/wager-transactions-dlq.fifo

DATABASE_URL=postgres://backend:backend@postgres:5432/backend_challenge
